/* <Banner/> start here */





.b-box {
  padding: 2rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background: yellowgreen; */
}

.b-box h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4rem;
}
.b-box p {
  margin-top: 1rem;
  font-family: sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-align: justify;
  /* background:red; */
  width: 80%;
}
.b-box1 {
  order: 1;
  /* background: red; */
  width: 50%;
  height: auto;
}
.b-box-img {
  order: 2;
  width: 550px;
  height: 300px;
}

@media all and (max-width: 1194px) {
  .b-box-img {
    width: 400px;
    height: 200px;
  }
  .searchbar {
    width: 80%;
  }
  .b-box {
    justify-content: space-around;
  }
  .b-box h1 {
    font-size: 3.3rem;
    /* background: red; */
  }
}
@media all and (max-width: 930px) {
  .b-box h1 {
    font-size: 3rem;
  }
}
@media all and (max-width: 855px) {
  .b-box {
    /* margin-top: 2.5rem; */
    flex-direction: column;
  }
  .b-box-img {
    order: 1;
    margin-bottom: 1rem;
  }
  .b-box1 {
    text-align: center;
    width: 100%;
    /* background: tomato; */
    order: 2;
  }
  .b-box1 h1 {
    font-size: 2.5rem;
  }
  .b-box p {
    width: 100%;
    padding: 1rem;
  }
  .searchbar {
    width: 100%;
    /* margin:0px 10%; */
    margin:0px auto;
  }
}
/* <Banner/> End here */



/*<searchResult/> Start here */


main {
	padding: 1.5em 0;
}
.ip {
	width: 16em;
	height: 8em;
}
.ip__track {
	stroke: hsl(var(--hue),90%,90%);
	transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
	animation: worm1 2s linear infinite;
}
.ip__worm2 {
	animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,5%);
		--fg: hsl(var(--hue),90%,95%);
	}
	.ip__track {
		stroke: hsl(var(--hue),90%,15%);
	}
}

/* Animation */
@keyframes worm1 {
	from {
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -358;
	}
	50.01% {
		animation-timing-function: linear;
		stroke-dashoffset: 358;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes worm2 {
	from {
		stroke-dashoffset: 358;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -358;
	}
}
/*<searchResult/> End here */



/*<Modal> Start here*/
.overlay{
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-inner{
  background: white;
  max-width: 1000px;
  height: 550px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
  overflow: scroll;
}
.overlay-inner .close{
  position: absolute;
  top:1rem;
  right: 1rem;
  outline: none;
  border: none;
  font-size: 17px;
  background-color: transparent;
}
.overlay-inner .inner-box{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.overlay-inner .inner-box img{
  margin-right: 20px;
  width: 150px;
  height: 200px;
}
.overlay-inner .inner-box h3{
  margin-top: 10px;
  color: green;
}
.overlay-inner .inner-box h4{
  color: blue;
}
.overlay-inner .inner-box button{
  outline: none;
  border: none;
  width: 100px;
  border-radius: 5px;
  background-color: #24a0ed;
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
}
.overlay-inner .description{
  margin-top: 2rem;
  text-align: justify;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: .1em;
  line-height: 1.5rem;

}
.info-left {
  color: #3366cc; /* Set the color for info-left, you can change the hex code as needed */
  font-size:20px;
  font-weight: 600;
}

.info-right {
  color: #00c51a; /* Set the color for info-right, you can change the hex code as needed */
  font-size:20px;
  margin-left:2px;
}

@media all and (max-width:800px){
  .overlay-inner .description{
    line-height: initial;
  }
  .info-left {
    font-size:15px;
    font-weight: 600;
  }
  .info-right {
    font-size:15px;
  }

}
/*<Modal> End here*/
